<app-header titreHeader="Météo"></app-header>



<ion-content class="ion-padding">

  <div class="head">
    <div class="ville">
      <ion-icon class="marg iconCouleurLeger" name="pin" size="large"></ion-icon>
      <p>{{nomCommune | uppercase}}</p>
    </div>
    <div>
      <ion-img class="pictoMeteo" [src]="urlIconMeteo"></ion-img>
      <p>{{mesuresMeteo.weatherDescription}}</p>
    </div>
  </div>


  <div class="subHead">

    <div class="itemMesure">
      <div class="temperature">{{mesuresMeteo.temperature}}°C
      </div>
      <div class="iconCouleurLeger">
        <div>
          <ion-icon name="arrow-dropdown" size="large"></ion-icon>
          <ion-label>{{mesuresMeteo.tempMin}}°C</ion-label>
        </div>
        <div>
          <ion-icon name="arrow-dropup" size="large"></ion-icon>
          <ion-label>{{mesuresMeteo.tempMax}}°C</ion-label>
        </div>
      </div>
    </div>

    <div class="detailMeteo iconCouleurLeger">
      <div>
        <ion-icon class="marg" name="water"></ion-icon>
        <ion-label>{{mesuresMeteo.humidity}}%</ion-label>
      </div>
      <div>
        <ion-icon class="marg" name="stopwatch"></ion-icon>
        <ion-label>{{mesuresMeteo.pressure}} hpa</ion-label>
      </div>
      <div>
        <ion-icon class="marg" [ngStyle]="{'transform' : cssrRotationIcon}" name="arrow-round-up" size="small">
        </ion-icon>
        <ion-label>{{mesuresMeteo.windSpeed}} m/s</ion-label>
      </div>
    </div>

  </div>

  <div class="itemMesure">
    <div class="infoMini">
      <ion-icon class="marg" name="time"></ion-icon>
      <ion-label>{{mesuresMeteo.date}}</ion-label>
    </div>
  </div>


  <div>
    <ion-list>
      <ion-list-header>Pollution</ion-list-header>
      <ion-item *ngFor="let mesure of mesuresPollution" class="itemPollution">
        <ion-label>{{mesure.typeDeDonnee}}</ion-label>
        <ion-note slot="end" color="primary">{{mesure.valeur}} μg/m3</ion-note>
      </ion-item>
    </ion-list>
  </div>



  <ion-fab horizontal="end" vertical="center" slot="fixed">
    <ion-fab-button color="primary" (click)="actualiserPosition()">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
