@import '../../theme/variables.scss';

$border : 1px solid rgb(207, 207, 207);
$color-icon : #63728c;
$color-primary : var(--ion-color-primary);
$couleur-fond: #e3e3e4;

$couleur-indice-invalid :#A9A9A9;
$couleur-indice-0 :#005500;
$couleur-indice-1 :#00AA00;
$couleur-indice-2 :#FFAA00;
$couleur-indice-3 :#FF5500;
$couleur-indice-4 :#AA0000;

// .head {
//     --background:none;
//     background-color: $couleur-fond;
// }

ion-content {
    --background:none;
   // background-image: linear-gradient(to bottom, #1663d2, #2d78dd, #458ce7, #5da0ef, #76b4f7);
  //  background-image: linear-gradient(to bottom, #63728c, #8b92a7, #b2b5c4, #d9d9e1, #ffffff);
 //   background-image: linear-gradient(to top, #63728c, #8b92a7, #b2b5c4, #d9d9e1, #ffffff);
}

ion-list, ion-item {
    --background: none;
    background-color: #ffffff00;
}

// ion-list{
//     background-color:$couleur-fond;
// }

.topHead > div{
    display: flex;
    justify-content: center;   
    align-items: center;  
}

.subHead {
    display:flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 20px 0;
    border-top: $border;
    border-bottom: $border;
}

.polluant {
    border-bottom: 1px solid #cfcfcf;
    padding: 0 16px;
}

.polluant:last-child {
    border-bottom: none;
}

.itemPollution {
    color: $color-icon;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.itemPollution .valeur{
    display: flex;
    padding: 0 8px;
    border-radius: 30px;
    align-items: center;
    font-weight: 700;
}

.itemPollution .valeur div{
    align-items: center;
}

.itemPollution .valeur span{
    font-size: 0.8rem;
    margin-left: 3px;
    font-weight: 400;
}

.itemPollution .detail{
    font-size: 0.8rem;
}



.itemPollution:last-child {
    margin-bottom: 50px;
}




.couleurInvalid {
    border: 1px solid $couleur-indice-invalid;
    color : $couleur-indice-invalid;
}

.couleur0 {
    border: 1px solid $couleur-indice-0;
    color : $couleur-indice-0;
}

.couleur1 {
    border: 1px solid $couleur-indice-1;
    color : $couleur-indice-1;
}

.couleur2 {
    border: 1px solid $couleur-indice-2;
    color : $couleur-indice-2;
}


.couleur3 {
    border: 1px solid $couleur-indice-3;
    color : $couleur-indice-3;
}


.couleur4 {
    border: 1px solid $couleur-indice-4;
    color : $couleur-indice-4;
}


.infos {
    font-size: 0.8rem;;
    overflow: hidden;
    padding : 0 16px;
    transition: all 0.2s ease-out;
    height: 0;
    display: none;
}

.infos .detail {
    display: flex;
    color:$couleur-indice-invalid;
}
.infos .detail .couleurInvalid {
    border: none;
    width: 15px;
    height:15px;
    border-radius: 10px;
    margin-right:5px;
    background-color: $couleur-indice-invalid;
}


.fleche {
    position: absolute;
    box-shadow: 2px 2px 0px 0px white;
    width: 0px;
    top: -15px;
    margin-left: -10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50% 50% 0% 50%;
    border-bottom: 10px solid #000000;
    border-left: 10px solid #000000;
    border-top: 10px solid #000000;
    border-right: 10px solid #000000;
}


.echelle {
    height: 50px;
    position: relative;
    display: flex;
    margin-top:15px;
}



.echelle > div {
    flex: 1;
}

.echelle > div:nth-child(2) div:first-child {
    border-radius: 5px 0 0 5px;
}

.echelle > div:last-child div:first-child {
    border-radius: 0 5px 5px 0;
}

.echelle .couleur0 {
   background-color: $couleur-indice-0;
   border: none;
}
.echelle .couleur1 {
    background-color: $couleur-indice-1;
   border: none;
}

.echelle .couleur2 {
    background-color: $couleur-indice-2;
   border: none;
}

.echelle .couleur3 {
    background-color: $couleur-indice-3;
   border: none;
}

.echelle .couleur4 {
    background-color: $couleur-indice-4;
   border: none;
}


.echelle > div div:first-child {
    margin: 5px 0;
    height: 10px;
}


.show {
    height: 80px;
    display: block;
    margin-bottom: 25px;
}

.noshow {
    height: 0px;
    display: block;
}


.pictoMeteo {
    max-width: 100px;
    
}

.detailMeteo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.detailMeteo > div{
    display: flex;
    align-content: center;
}

.itemMesure div {
    display: flex;
    align-items: center;
}

.temperature {
    font-size: 3.5rem;
    font-weight: 700;
    color:$color-primary
}
.temperature span {
    font-size: 2rem;
    margin-bottom: 10px;
}

.ville {
    font-size: 1.6rem;
    text-align: center;
}

.iconCouleurLeger {
    color:$color-icon;
}


.itemMesure .iconCouleurLeger div:first-child {
 margin-right: 5px;
}


.marg {
    margin-right: 5px;
    font-size: 18px;
}

.infoMini {
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    justify-content: center;
    border-bottom: $border;
    padding: 20px 0;
}

.spinner {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    
    color: $color-icon;
    align-items: center;
    margin-top: 50%;
}

