.pictoMeteo {
    max-width: 100px;
    margin: auto;
}

.itemMesure {
    background-color: #d5d6d8;
    border-radius: 40px;
    min-width: 80px;
    text-align: center;
    /* line-height: 1; */
    min-height: 80px;
    // --border-style:none;
    // --border-radius:15px;
    // --background:green;
}