<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="meteo">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Météo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoris">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="alert"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="deconnecter()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Deconnexion</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>