<ion-content>
    <ion-list>
        <ion-item *ngFor="let objetFavori of listeObjetFavori">
            <ion-card (click)="expandItem(objetFavori)" >
                <ion-card-header>
                    <ion-card-title>{{objetFavori.favori.commune.nom}}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <app-expandable [expanded]="objetFavori.expanded">

                    </app-expandable>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
