@import "../../../theme/variables.scss";


.new-background-color{
    --background:var(--ion-color-dark);
    --color:var(--ion-color-light);
}

.logo, .titre {
    line-height: 1.5rem;
    
    
}

.logo {
    text-align: center;
    border-right: 1px solid #d7d8da59;
    color: var(--ion-color-primary);
}
.titre {
    text-align: center;
    font-size: 1.5rem;
}